
body {
/*     background-color: #EAF6F6; */
    backgorund-color: Red;
}

h1{
/*     color: #66BFBF */
    color: white;
}
h3{
    color: #66BFBF
}
hr {
    /* background-color: #93BFCF; */
    /* border-style: dotted none none; */
    border-style: none;
    border-color: grey;
    border-top-style: dotted;
    border-width: 5px;
    /* height: 0px; */
    /* width: 100px; */
     width: 5%;
}


